@ this is a comments
@ confirmdelete.TMPL for generatin powershell script
@ that will be generate php for confirmdelete.html
<<function render-module($dictName,$tableName)>>
<<{>>


	<<$crlf = [char][int]13+[char][int]10>>
	<<$dpPasspTable = gridGetObj $dictName $tableName>>

	<<$fieldscount=$dpPasspTable.Fields.count>>
	<<$percnt = [math]::Round((100/$fieldscount))>>
	<<$hiddenFormID=get-hidden-formID($dpPasspTable)>>
	



<div>
   
   <form action="/<?=Config::get('site_root')?><<%%$TableName.ToLower()%%>>/delete" method="post">
		<div class="row-md-8">
			<h1>Удалить информацию?</h1>
		</div>

		<<$fid = 'id'>>
		<<$idvalue     = 'value="<?php echo($data['+"'"+$TableName.ToLower()+"'][0]["+'"'+$fid+'"])'+'?>"'>>
				
		<input type="hidden"  id="<<%%$hiddenFormID%%>>" name="<<%%$hiddenFormID%%>>" <<%%$idvalue%%>>/>
	
 
 
	<div id="<<%%$dpPasspTable.ViewName%%>>">
	        <table class="table table-bordered table-striped table-hover" id="<<%%$TableName.ToLower()%%>>-table">

					<tr>
					
					<<foreach($f in $dpPasspTable.Fields){>>
		       		     <th width="<<%%$percnt.ToString()%%>>%"><<%%$f.Label%%>></th>
					<<}>>	 
					
						
					</tr>
					
					
					<?php foreach($data['<<%%$TableName.ToLower()%%>>'] as $row) {?>
					<tr>
						<<foreach($f in $dpPasspTable.Fields){>>
							<<$json = $f.json |ConvertFrom-Json>>

							<<$fieldName = $f.Name>>
						<<if ($json.Type.ToUpper() -eq "IMAGE"){>>

						<td width="<<%%$percnt.ToString()%%>>%">

							<div style="<?php echo $row['<<%%$fieldName%%>>']; ?>width:70px;height:70px;"></div>
							</div>

						</td>

		
		
		@				<?php
		@				$imageURL = "/".Config::get('site_root').str_replace(chr(92),'/',$row['<<%%$fieldName%%>>']);
		@				?>
		@				<td width="<<%%$percnt.ToString()%%>>%"><img src="<?php echo $imageURL; ?>" alt="<?php echo $row['<<%%$fieldName%%>>']; ?>" style="width:50px"></td>
						<<}else{>>							
							
							
							
						<td width="<<%%$percnt.ToString()%%>>%"><?php echo $row['<<%%$fieldName%%>>']; ?></td>
						<<}>> 
						<<}>> 
						
					</tr>
					<?php } ?>

	        </table>
		</div>




		<div class="btn-toolbar" style="justify-content: center; display:flex;">
			<div class="btn-group   mr-5" >
@				<button class="w3-btn w3-white w3-border w3-border-red w3-round-large" name="btnclose" type="submit" formaction="/<?=Config::get("site_root")?><<%%$dpPasspTable.TableName.ToLower()%%>>/">Закрыть</button>
				<a href="/<?=Config::get("site_root")?><<%%$tableName.ToLower()%%>>/" class="w3-btn w3-white w3-border w3-border-red w3-round-large" style="text-decoration:none;">Закрыть</a>
@			
			</div>

			<div class="btn-group   mr-5" >	
				<button class="w3-btn w3-pink w3-border w3-border-red w3-round-large" name="btndelete" type="submit" formaction="/<?=Config::get("site_root")?><<%%$tableName.ToLower()%%>>/delete">Удалить</button>		
			</div>
		
		</div>
   </form>			
</div>		
			
			
		



	<<return $script>>

<<}>>



